.container {
  display: grid;
  grid-template-rows: min-content minmax(auto, min-content) min-content min-content;
  justify-items: end;
  row-gap: 10px;
  padding: 100px 16px 0;
  min-height: 0;
}

.innerIngredientsGroup {
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-right: -12px;
}

.innerIngredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  margin: 0 12px 0 6px;
}

.total {
  display: flex;
  justify-content: end;
  column-gap: 40px;
  margin: 40px 20px 0 0;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 10px;
}