.container {
  display: grid;
  grid-template-rows: min-content minmax(auto, min-content) min-content min-content;
  justify-items: end;
  row-gap: 16px;
  padding: 100px 16px 0;
  min-height: 0;
}

.innerIngredientsGroup {
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px 0 0 0;
  margin: -16px 0 0 0;
  margin-right: -12px;
  width: 100%;
}

.canDrop {
  background-color: #1C1C21
}

.total {
  display: flex;
  justify-content: end;
  column-gap: 40px;
  margin: 24px 0 0;
}

.price {
  display: flex;
  align-items: center;
  column-gap: 10px;
}