.card {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
  cursor: pointer;
}

.image {
  width: 240px;
  height: 120px;
}

.price {
  display: flex;
  align-items: center;
  height: 32px;
}

.name {
  text-align: center;
}