.container {
  display: grid;
  grid-template-columns: 320px 480px;
  gap: 60px;
  margin: 20vh auto 0;
  width: 1240px;
  padding: 0 20px;
}

.nav {
  display: grid;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  position: relative;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 20px;
  right: 24px;
  display: flex;
}

.logout {
  cursor: pointer;
}