.container {
  display: grid;
  display: grid;
  justify-items: center;
  align-content: start;
  height: 100%;
}

.image {
  height: 240px;
  width: 480px;
  padding: 0 80px;
}

.details {
  display: flex;
  column-gap: 32px;
  padding-top: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}

.full {
  position: fixed;
  inset: 0;
  top: 88px;
  background-color: #131316;
  padding-top: 40px;
}