.container {
  display: grid;
  grid-template-rows: auto auto 1fr;
  min-height: 0;
  min-width: 600px;
}

.tabs {
  display: flex;
}

.ingredients {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  margin-right: -12px;
}